@page
@model ClientsOrders.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Order Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Order
        <a asp-page="./Edit" asp-route-id="@Model.Order.Id" asp-route-retPath=@ViewBag.RetPath aria-label="Edit">
          <span class="glyphicon glyphicon-pencil edit-icon" aria-hidden="true" style="margin-left: 1em;"></span></a>

        <a asp-page="./Delete" asp-route-id="@Model.Order.Id" asp-route-retPath=@ViewBag.RetPath aria-label="Delete">
            <span class="glyphicon glyphicon-trash delete-icon" aria-hidden="true"></span></a>
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Client)
        </dt>
        <dd>
            <a asp-page="../Clients/Details" asp-route-id=@Model.Order.Client.Id>
            @Html.DisplayFor(model => model.Order.Client.Name)
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Status)
        </dd>
    </dl>
</div>

<div>
    <a href="@ViewBag.RetPath">Back to List</a>
</div>
