@page
@model ClientsOrders.Pages.Clients.DetailsModel

@{ 
    ViewData["Title"] = "Client Details"; 
    string ThisPagePath = Request.Path + Request.QueryString;
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Client
        <a asp-page="./Edit" asp-route-id="@Model.Client.Id" aria-label="Edit">
          <span class="glyphicon glyphicon-pencil edit-icon" aria-hidden="true" style="margin-left: 1em;"></span></a>

        <a asp-page="./Delete" asp-route-id="@Model.Client.Id" aria-label="Delete">
            <span class="glyphicon glyphicon-trash delete-icon" aria-hidden="true"></span></a>        
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Inn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Inn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
    </dl>
</div>

<h4>Orders for 
@Model.Client.Name 
<span class="badge badge">@ViewBag.TotalRecords total</span>
<a asp-page="../Orders/Create" asp-route-ClientId="@Model.Client.Id" asp-route-retPath=@ThisPagePath>
<span class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> <b>Add</b></span></a>
</h4>

<hr />

@{
    await Html.RenderPartialAsync("OrdersPartial");
}
