@page
@model ClientsOrders.Pages.Clients.IndexModel

@{ ViewBag.Title = "Clients"; }

<h2>
    @ViewBag.Title <span class="badge badge">@ViewBag.TotalRecords total</span>
    <a asp-page="Create"><span class="badge" style="background-color: green"><b>+ Add</b></span></a>
</h2>

<form asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="q" value="@ViewBag.Q" />
        <input type="submit" value="Search" class="btn btn-default btn-sm" />
    </p>
</form>

<p>@ViewBag.LocationMsg
@{
    if (ViewBag.Q.ToString() != "")
    {
        <span> | </span>
        <a asp-page="Index" asp-route-sortBy="@ViewBag.SortBy"
            asp-route-pSize="@ViewBag.PageSize" asp-route-p="1" asp-route-q="">
            Back to Full List
        </a>
    }
}
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-page="Index" asp-route-sortBy="@ViewBag.NameSortLink" asp-route-Q="@ViewBag.Q">
                    @Html.DisplayNameFor(model => model.Client[0].Name)
                </a>
                @{ 
                    if (ViewBag.SortBy.ToString() == "Name")
                    {
                        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span> 
                    }
                    if (ViewBag.SortBy.ToString() == "Name_desc")
                    {
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> 
                    } 
                }            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Inn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model.Client) 
       {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-right">
                    <a asp-page="./Edit" asp-route-id="@item.Id" aria-label="Edit">
                        <span class="glyphicon glyphicon-pencil edit-icon" aria-hidden="true"></span>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" aria-label="Delete">
                        <span class="glyphicon glyphicon-trash delete-icon" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    if ((int)ViewBag.FilteredRecords > (int)ViewBag.PageSize)
    {
        <paging class="pagination"
        page-no="Convert.ToInt32(@ViewBag.PageNo)"
        page-size="Convert.ToInt32(@ViewBag.PageSize)"
        total-records="Convert.ToInt32(@ViewBag.FilteredRecords)"
        show-total-pages="true" show-total-records="false"
        query-string-key-page-no="p" query-string-key-page-size="pSize"
        query-string-value="sortBy=@ViewBag.SortBy&q=@ViewBag.Q"></paging>
    }
}

